# =========================
# Python / AI 项目通用
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# 日志文件
# =========================
aistroke/logs/
*.log

# =========================
# 数据文件（强烈建议）
# =========================
*.pkl
*.pt
*.pth
*.ckpt
*.npy
*.npz
*.csv
*.h5

# =========================
# 训练产物 / 输出
# =========================
outputs/
runs/
checkpoints/
results/

# =========================
# 本地环境
# =========================
.env
.venv/
venv/
.idea/
.vscode/

# =========================
# 系统垃圾
# =========================
.DS_Store
Thumbs.db
